extends layout

block content
  #pong

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js");
  script(src="#{host}:3500/socket.io/socket.io.js");
  script(src="./javascripts/mousetrap.min.js");
  script(src="./javascripts/kinetic.js");
  script(src="./javascripts/app.js");